asgiref==3.8.1
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
distlib==0.3.9
et-xmlfile==2.0.0
filelock==3.16.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
greenlet==3.1.1
idna==3.10
inflect==7.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
openpyxl==3.1.5
paytmchecksum==1.7.0
platformdirs==4.3.6
psycopg2-binary==2.9.10
pycryptodome==3.21.0
pyfcm==2.1.0
PyJWT==2.9.0
pyodbc==5.2.0
python-dotenv==1.0.1
PyYAML==6.0.2
redis==5.2.0
requests==2.32.3
six==1.16.0
sqlacodegen==3.0.0rc5
SQLAlchemy==2.0.35
sqlparse==0.5.1
typing-extensions==4.12.2
tzdata==2024.2
ua-parser==0.18.0
urllib3==2.2.3
user-agents==2.2.0
virtualenv==20.27.1
Werkzeug==3.0.4
WTForms==3.2.1
